.nav{
    grid-area: n;
    background-color: #eed55c;
    font-size: 1.9rem;
    font-family: cursive, sans-serif;
    font-weight: bolder;
    padding: 20px 50px;
    gap: 1em;
}

.item {
    text-decoration: none;
}