.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas:
     'h h'
     'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 2fr;;
}


.app-wrapper-content{
    grid-area: c;
    background-color: #7365cb;
}

.app-wrapper-content img {
    width: 860px;
    height: 360px;
}
