.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas:
     'h h'
     'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 2fr;;
}

.header{
  grid-area: h;
  background-color: cadetblue;
}

.header img{
  width: 60px;

}

.nav{
  grid-area: n;
  background-color: #eed55c;
  font-size: 1.9rem;
  font-family: cursive, sans-serif;
  font-weight: bolder;
  padding: 20px 50px;
  gap: 1em;

}
.navbar {
  /*padding: 30px;*/
}

.content{
  grid-area: c;
  background-color: #7365cb;
}

.content img {
  width: 860px;
  height: 360px;

}
